<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OverlayEditor</string>
	<key>CFBundleIconFile</key>
	<string>OverlayEditor.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Marginal.OverlayEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OverlayEditor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>appversion</string>
	<key>CFBundleGetInfoString</key>
	<string>OverlayEditor appversion, © 2007-2014 Jonathan Harris</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>agp.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.agp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>fac.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.fac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>for.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.for</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>lin.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.lin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>obj.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.obj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pol.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.pol</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>str.icns</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.laminar.str</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane autogen point</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.agp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=x-plane-10-autogen-scenery-file-format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>agp</string>
					<string>AGP</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane facade</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.fac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=x-plane-10-facade-fac-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fac</string>
					<string>FAC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane forest</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.for</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=forest-for-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>for</string>
					<string>FOR</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane painted line</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.lin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=painted-line-lin-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lin</string>
					<string>LIN</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane 3D object</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.obj</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=obj8-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
					<string>OBJ</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane draped polygon</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.pol</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=draped-polygon-polfac-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pol</string>
					<string>POL</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>X-Plane object string</string>
			<key>UTTypeIdentifier</key>
			<string>com.laminar.str</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.x-plane.com/?article=object-string-str-file-format-specification</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>str</string>
					<string>STR</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
