Package: overlayeditor
Section: graphics
Priority: extra
Architecture: amd64
Installed-Size: 3580
Depends: bash, desktop-file-utils, p7zip, python (>=2.7), python-imaging (>=1.1.6), python-gdal, python-numpy, python-opengl (>=3.0.1~a1), python-setuptools, python-tk, python-wxtools
Provides: overlayeditor
Maintainer: Jonathan Harris <x-plane@marginal.org.uk>
Homepage: http://marginal.org.uk/x-planescenery/
Description: X-Plane DSF overlay editor
 This application edits DSF overlay scenery packages
 for X-Plane 8.30 or later.
