[Desktop Entry]
Encoding=UTF-8
Name=OverlayEditor
Comment=X-Plane DSF overlay editor
Exec=overlayeditor
Icon=overlayeditor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics
