[Desktop Entry]
Version=1.0
Name=OverlayEditor
Comment=X-Plane DSF overlay editor
Exec=/usr/local/bin/overlayeditor
Icon=overlayeditor
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;
